.item {
    border-style: solid;
    border-color: blueviolet;
    border-radius: 3%;
    margin: 0.5rem;
    width: 25%;

}

.imagen {
    width: 90%;
    padding: 0.5rem;
    justify-content: center;
}

.detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.description {
    font-family: fantasy;
    font-size: small;
}

.boton-ver {
    margin-bottom: 0.5rem;
    width: 5rem;
    border-radius: 10%;
}