.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: rgb(243, 207, 255);
    font-family: fantasy;
}



ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
   
}

li{
    margin-left: 20px;
    margin-right: 20px;
}

button{
   height: 30px;
}

.listaNav{
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.linkActivo{
    color: whitesmoke;
}

.linkInactivo{
    color: rgb(73, 69, 69);
}



